@model MovieAdminViewModel

@{
	Layout = null;
}

@{
	

}

<!DOCTYPE html>
<html>
<head>
	<title>Movie Ranking</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="~/styles/style.css" rel="stylesheet" />
	<script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>
	<div class="pageContainer">
		<aside class="sidebar">
			<section class="logo-section">
				<div class="logo">ToyPj</div>
				<nav>
					<div class="menu-item">
						<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a28bd1df9a1e89873dd6529107d0f50a83e39ee38bdc87ef60a2fa0f0eabe998?apiKey=45f58322aded4623984a676e805b906d&" alt="Dashboard icon" class="menu-icon" />
						<div class="menu-text">Movie</div>
					</div>
					<div class="menu-item">
						<img loading="lazy" src="/img/ranking.png" alt="Your Movies icon" class="menu-icon-alt" />
						<div class="menu-text">Cast</div>
					</div>
					<div class="menu-item">
						<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c5853584d1296cbaac3f7f4645be4527c075aa3daecea54eb7fb41096443d60e?apiKey=45f58322aded4623984a676e805b906d&" alt="Your Movies icon" class="menu-icon-alt" />
						<div class="menu-text">Company</div>
					</div>
				</nav>
			</section>

		</aside>

		<div class="content">
			


		</div>
	</div>


	<script>

	</script>
</body>


</html>
