@using System.Text.Json
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<ColumChartViewModel>
<link href="~/styles/ColumCharts.css" rel="stylesheet" />

<style type="text/css">

</style>

<div id="colum-chart-container" class="chart-container">
</div>

<script type="text/javascript">

	var listData = @Html.Raw(JsonSerializer.Serialize(Model));

	Highcharts.chart('colum-chart-container', {
		chart: {
			type: 'line',
			spacingBottom: 15,
			spacingTop: 10,
			spacingLeft: 10,
			spacingRight: 10,
			// Explicitly tell the width and height of a chart
			width: null,
			height: null
		},
		title: {
			text: 'Monthly Revenue of Production Company',
			style: {
				color: 'white',
				font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
			}
		},
		subtitle: {
			text: 'Source: ' +
				'<a href="https://en.wikipedia.org/wiki/List_of_cities_by_average_temperature" ' +
				'target="_blank">Wikipedia.com</a>'
		},
		xAxis: {
			categories: [
				'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
				'Oct', 'Nov', 'Dec'
			]
		},
		yAxis: {
			title: {
				text: 'Temperature (°C)'
			}
		},
		plotOptions: {
			line: {
				dataLabels: {
					enabled: true
				},
				enableMouseTracking: false
			}
		},
		series: listData
	});

</script>