@using System.Text.Json
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PieChartViewModel

<div id="pie-chart-container"></div>

<script type="text/javascript">
    var chartName  = @Html.Raw(JsonSerializer.Serialize(Model.Name));
    var series = @Html.Raw(JsonSerializer.Serialize(Model.Series));

    console.log(series);

    Highcharts.chart('pie-chart-container', {
        chart: {
            type: 'pie'
        },
        title: {
            text:chartName,
            style: {
                color: 'white',
                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        tooltip: {
            valueSuffix: '%'
        },
        subtitle: {
            text:
                'Source:<a href="https://www.mdpi.com/2072-6643/11/3/684/htm" target="_default">MDPI</a>'
        },
        plotOptions: {
            series: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: [{
                    enabled: true,
                    distance: 20
                }, {
                    enabled: true,
                    distance: -40,
                    format: '{point.percentage:.1f}%',
                    style: {
                        fontSize: '1.2em',
                        textOutline: 'none',
                        opacity: 0.7
                    },
                    filter: {
                        operator: '>',
                        property: 'percentage',
                        value: 10
                    }
                }]
            }
        },
        series: [
            {
                name: 'Percentage',
                colorByPoint: true,
                data: series
            }
        ]
    });

</script>