@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<aside class="sidebar">
	<section class="logo-section">
		<div class="logo">ToyPj</div>
		<nav>
			<div id="menu-item-ranking" class="menu-item">
				<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/a28bd1df9a1e89873dd6529107d0f50a83e39ee38bdc87ef60a2fa0f0eabe998?apiKey=45f58322aded4623984a676e805b906d&" alt="Dashboard icon" class="menu-icon" />
				<div class="menu-text">
					<a asp-controller="Ranking" asp-action="Index">Ranking</a>
				</div>
			</div>
			<div id="menu-item-admin" class="menu-item">
				<img loading="lazy" src="/img/ranking.png" alt="Your Movies icon" class="menu-icon-alt" />
				<a asp-controller="Admin" asp-action="Index">Admin</a>
			</div>
			<div id="menu-item-trending" class="menu-item">
				<img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c5853584d1296cbaac3f7f4645be4527c075aa3daecea54eb7fb41096443d60e?apiKey=45f58322aded4623984a676e805b906d&" alt="Your Movies icon" class="menu-icon-alt" />
				<a asp-controller="Trending" asp-action="Index">Trending</a>
			</div>
		</nav>
	</section>
</aside>

<script>

</script>